.btn-outline-success {
  border-color: #000000;
  color: whitesmoke;
}

.btn-outline-success:hover {
  color: black;
  background-color: whitesmoke;
}

.navbar {
  background: rgba(0, 0, 0, 0.75);
}
