<div id="info-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-3">
          <h2>Despre Noi</h2>
          <p>Facultatea de Automatică și Calculatoare este una dintre cele 10 facultăți ale Universității Politehnica Timișoara, asigurând pregătirea inginerilor în specializările...</p>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h2>Programe de licenta</h2>
        <p>Calculatoare (RO)<br>
          Calculatoare (EN)<br>
          Automatica si informatica aplicata (RO)<br>
          Informatica (RO)<br>
          Informatica la distanta (RO)</p>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h2>Programe de master</h2>
        <p>Master in inginerie software (EN)<br>
          Master in ingineria calculatoarelor (EN)<br>
          Master in tehnologia informatiei (EN)<br>
          Master in tehnologia informatiei (RO)<br>
          SIAPS<br>
          Sisteme informatice de ingrijire a sanatatii (RO)
        </p>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h2>Departamente</h2>
        <p>Calculatoare si Tehnologia Informatiei<br>
          Automatica si Informatica Aplicata</p>
      </div>
  </div>
</div>
