<div id="bar-carousel-header-ac">
  <div id="carousel-header-ac" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item">
          <img src="/src/assets/Facultatea_de_Electrotehnica_Timisoara_2.jpg" alt="Facultatea de Automatică și Calculatoare">
            <div class="carousel-caption">
            <h2><b>Facultatea de Automatică și Calculatoare</b></h2>
            <p></p>
            <div style="font-size: 14px;text-align: justify;width:650px;display: table;margin:0 auto;margin-top: 150px;" align="left">
              In anul 1966, in cadrul Facultatii de Automatica si calculatoare au absolvit primii studenti ai sectiei de Calculatoare electronice.
              De atunci si pana in ziua de azi facultatea noastra a crescut oferta educationala oferindu-le studentilor de la ciclul de licenta specializari in mai multe domenii.
              </div>
            <p></p>
          </div>
    </div>
  </div>
</div>
